<form [formGroup]='formRegister' (ngSubmit)="register()">
  
        <div class="mb-3">
            <label class="form-label">User Email</label>
            <input type="text" class="form-control" formControlName='email'>

        </div>
        <div class="mb-3">
            <label class="form-label">User Password</label>
            <input type="text" class="form-control" formControlName='password'>
        </div>

        <div class="mb-3">
            <label class="form-label">Address</label>
            <input type="text" class="form-control" formControlName='address'>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

        <br><br><br>
        <div *ngIf="alert" class="alert alert-primary" role="alert">
            Your Data is submitted !!!
        </div>


  </form>
